.host-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  margin-left: 6px;

  border-radius: 50%;

  border: 1px solid #ccc;

  cursor: help;

  user-select: none;
}